html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

div,
p,
h1,
h2,
textarea,
button,
input,
select,
ul,
li,
a {
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}
